
<div class="container mt-4 card-principal">
  <div>
    <button type="button" class="btn btn-primary" routerLink="/">
      Voltar
    </button>
  </div>
  <hr>
  
  <h2>Cadastro de Pessoa</h2>
    
  <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
        <div *ngIf="cadastroForm.controls['nome'].invalid && cadastroForm.controls['nome'].touched" class="text-danger">
          <small *ngIf="cadastroForm.controls['nome'].hasError('required')">Nome é obrigatório.</small>
          <small *ngIf="cadastroForm.controls['nome'].hasError('maxlength')">Nome deve ter no máximo 100 caracteres.</small>
        </div>
      </div>

      <div class="col-md-6">
        <label for="apelido" class="form-label">Apelido</label>
        <input type="text" class="form-control" id="apelido" formControlName="apelido">
        <div *ngIf="cadastroForm.controls['apelido'].invalid && cadastroForm.controls['apelido'].touched" class="text-danger">
          <small *ngIf="cadastroForm.controls['apelido'].hasError('required')">Apelido é obrigatório.</small>
          <small *ngIf="cadastroForm.controls['apelido'].hasError('maxlength')">Apelido deve ter no máximo 32 caracteres.</small>
        </div>
      </div>
  
      <div class="col-md-6">
        <label for="nascimento" class="form-label">Nascimento</label>
        <input type="date" class="form-control" id="nascimento" formControlName="nascimento">
      </div>
    </div>

    <hr class="mt-4">
    <div class="d-flex justify-content-end align-items-center mb-3 mt-4">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
</div>